/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

&lt { quick_tap_ms = <200>; };

&mt { quick_tap_ms = <200>; };

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "default";
            bindings = <
&none  &none  &none  &none
&none  &none  &none  &none
                     &mo 1  &mo 2
            >;
        };

        lower_layer {
            label = "lower";
            bindings = <
&none  &none  &none  &none
&none  &none  &none  &none
                     &trans  &mo 3
            >;
        };

        raise_layer {
            label = "raise";
            bindings = <
&none  &none  &none  &none
&none  &none  &none  &none
                     &mo 3  &trans
            >;
        };

        adjust_layer {
            label = "adjust";
            bindings = <
&bootloader  &rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &none
&bt BT_CLR   &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2
                                               &none         &none
            >;
        };
    };
};
