/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

&mt { quick_tap_ms = <200>; };

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "default";
            bindings = <
&kp N1 &kp N2  &kp N3 &kp N4
&none  &none   &none  &none 
&kp N5 &kp N6  &kp N7 &kp N8
&none  &none   &none  &none 
                      &kp N9  &kp N0
                      &none   &none 
            >;
        };

        lower_layer {
            label = "lower";
            bindings = <
&none  &none  &none  &none
&none  &none  &none  &none
&none  &none  &none  &none
&none  &none  &none  &none
                     &trans  &mo 3
                     &trans  &mo 3
            >;
        };

        raise_layer {
            label = "raise";
            bindings = <
&none  &none  &none  &none
&none  &none  &none  &none
&none  &none  &none  &none
&none  &none  &none  &none
                     &mo 3  &trans
                     &mo 3  &trans
            >;
        };

        adjust_layer {
            label = "adjust";
            bindings = <
&bootloader  &rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &none
&bt BT_CLR   &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2
&bootloader  &rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &none
&bt BT_CLR   &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2
                                               &none         &none
                                               &none         &none
            >;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_n1 {
            timeout-ms = <100>;
            key-positions = <0 4>;
            bindings = <&kp EXCL>;
            layers = <0>;
        };
        combo_n2 {
            timeout-ms = <100>;
            key-positions = <1 5>;
            bindings = <&kp AT>;
            layers = <0>;
        };
        combo_n3 {
            timeout-ms = <100>;
            key-positions = <2 6>;
            bindings = <&kp HASH>;
            layers = <0>;
        };
        combo_n4 {
            timeout-ms = <100>;
            key-positions = <3 7>;
            bindings = <&kp DLLR>;
            layers = <0>;
        };

        combo_n5 {
            timeout-ms = <100>;
            key-positions = <8 12>;
            bindings = <&kp PRCNT>;
            layers = <0>;    
        };
        combo_n6 {
            timeout-ms = <100>;
            key-positions = <9 13>;
            bindings = <&kp PRCNT>;
            layers = <0>;
        };
        combo_n7b {
            timeout-ms = <100>;
            key-positions = <10 14>;
            bindings = <&kp AMPS>;
            layers = <0>;
        };
        combo_n8b {
            timeout-ms = <100>;
            key-positions = <11 15>;
            bindings = <&kp STAR>;
            layers = <0>;
        };

        combo_n9 {
            timeout-ms = <100>;
            key-positions = <16 18>;
            bindings = <&kp LPAR>;
            layers = <0>;
        };
        combo_n0 {
            timeout-ms = <100>;
            key-positions = <17 19>;
            bindings = <&kp RPAR>;
            layers = <0>;
        };
    };
};
